ANALIZA_IMAGE=analiza-web:selfhosted
SOURCE_SHA=local-unversioned
ANALIZA_HOST_PORT=8080
ANALIZA_DATA_MODE=postgresql
NEXT_PUBLIC_DATA_MODE=postgresql
NEXT_PUBLIC_RELEASE_PROFILE=core
ANALIZA_REGISTRATION_MODE=isolated
NEXT_PUBLIC_REGISTRATION_MODE=isolated
ANALIZA_DB_TRANSPORT=unix
PGHOST=/var/run/postgresql
PGPORT=5432
PGDATABASE=analiza_en_casa
PGUSER=analiza_app
PGPASSWORD=CHANGE_ME
PGPOOL_MAX=5
ANALIZA_FILE_STORAGE=filesystem
ANALIZA_FILES_PATH=/data/private-files
# Replace with: getent group postgres | cut -d: -f3
POSTGRES_SOCKET_GID=999
